*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 5px 0;
    background-color: #ff0000;
    position: sticky;
    top: 0; 
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ff0000;
    color: white;
    padding: 5px 5px;
}

.nav-wrapper ul li{
    display: inline;
    margin: 0 10px;
}

.nav-wrapper ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-wrapper ul li a:hover{
    color: black;
}

.titolo{
    text-align: center;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.Container div {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Container h3 {
    font-size: 1.2rem;
    margin: 10px;
    font-weight: bold;
    color: #333;
}

.Container p {
    margin: 5px 10px;
    font-size: 1rem;
    color: #555;
}
